<!DOCTYPE html>
<html>
<meta charset="utf-8">
<title>all items</title>
<body>

<h2>All Articles</h2>
<ul class="all">
  <li>
  <div itemscope itemtype="http://schema.org/Product">
  Name: <span itemprop="name"><a rel="article" href="article.html">Red Rabble Sneaker</a></span></br>
  Description: <span itemprop="description">Rabble Mid-Top Canvas Sneaker</span></br>
  Brand: <span itemprop="brand"><a href="www.alexandermcqueen.com">Alexander McQueen</a></span></br>
  Color: <span itemprop="color">Red</span></br>
  <button type="button" onclick="alert('This article has been added to your closet')">Add to My Closet
    <form method="POST" action="user/">
    </form>
  </button>
  </br>
  <h3>Users who have this Article</h3>
<form method="GET" action="/usersearch" action="http://virtualcloset.com/find?q{title}">
</form>
  
</div>
  </li>
 </br>
 <li>
    <div itemscope itemtype="http://schema.org/Product">
    Name: <span itemprop="name"><a rel="article" href="article.html">Striped Shirt</a></span></br>
    Description: <span itemprop="description">Cotton-blend shirt from Issey Miyake featuring a classic collar, a front button fastening, a black vertical-striped design and long sleeves.</span></br>
    Brand: <span itemprop="brand"><a href="http://www.isseymiyake.com/en/">Issey Miyake</a></span></br>
    Color: <span itemprop="color">White</span></br>
    <button type="button" onclick="alert('This article has been added to your closet')">Add to My Closet
    <form method="POST" action="user/">
    </form>
    </button>
    </div>
  </li>
</ul>



<div class="control">
    <h2>Add a New Article to the Closet Inventory</h2>
    <form id="create-article" method="post" action="/allitems"/>
        <input type="hidden" name="item[article]" value="<%item._id%>">
        <label>Name:
            <input name="item[image]" type="text" required
        </label></br>
        <label>Description:
            <input name="item[description]" type="text" required
        </label></br>
        <label>Brand:
            <input name="item[brand]" type="text" required
        </label></br>
        <label>Color:
            <input name="item[color]" type="text" required
        </label></br>
        <button>Add</button>
    </form>    
</div>

</body>
</html>
