<!DOCTYPE html>
<html>
<head>
    <title>Trunk: All Articles</title>
    <link rel="stylesheet" href="/style.css">
</head>    
<body>

<a href="http://sils-webinfo.iriscouch.com/_utils/database.html?lwturpin"><h1>All Articles</h1></a>
    <% if (items.length > 0) { %>
    <ul id="allitems">
      <% items.forEach(function(item) { %>
      <li class="article"><a href="/allitems/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No articles found.</div>
    <% } %>

<div class="control">    
    <h3>Search All Articles by Brand</h3>
    <form id="search-brand" method="get" action="/allitems/:brand">
        <label>Brand: <input name="brand"></label>
        <button>Search</button>
    </form>
</div> 

<div class="control">
    <h2>Add a New Article to the Closet Inventory</h2>
    <form id="create-article" method="post" action="/allitems/">
        <label>Name:
            <input name="item[name]" type="text" required>
        </label>
        <label>Description:
            <input name="item[description]" rows="4" cols="50"" >
        </label>
        <label>Brand:
            <input name="item[brand]" type="text" required>
        </label>
        <label>Brand URL:
            <input name="item[url]" type="text">
        </label>    
        <label>Color:
            <input name="item[color]" type="text" required>
        </label></br>
        <button>Add</button>
    </form>    
</div>

<a href="/">Home</a>

</body>
</html>
