<!DOCTYPE html>
<html>
<head>
    <title>Trunk: Users</title>
    <link rel="stylesheet" href="/style.css"
</head>

<body>
    <a href="http://sils-webinfo.iriscouch.com/_utils/database.html?lwturpin"><h1>All Users</h1></a>
    <% if (items.length > 0) { %>
    <ul id="users">
        <% items.forEach(function(item) { %>
        <li class="user"><a href="/users/<%=item._id%>"><%=item.name%></a></li>
        <% }); %>
    </ul>
    <% } else { %>
    <div>No Users found.</div>
    <% } %>
    
<div class="control">
    <h2>Search for users by email</h2>
        <form id="search-users" method="get" action="/users/:email">
            <label>User Email: <input name="email"></label>
            <button>Search</button>
        </form>
</div>

<div class="control">
<h2>Add a New User</h2>
    <form id="create-user" method="post" action="/users/">
    <label>Username:<br>
        <input type="text" name="item[username]" required>
    </label>
    <label>Name:
        <input type="text" name="item[name]" required></br>
    </label>
    <label>Email:<br>
        <input type="email" name="item[email]" required></br>
    </label>
    <label>Password:<br>
        <input type="text" name="item[password]" required></br>
    </label>
    <button>Submit</button>
</form>
</div>

<a href="/">Home</a>

</body>
</html>
